langchain
langchain-community
langchain-openai
langchain-ollama
langchain-chroma
langchain-huggingface
langchain-mistralai
langgraph
beautifulsoup4
fastapi
uvicorn
jinja2
chromadb
wikipedia-api
faker
qdrant-client
langchain-qdrant
openai
tiktoken
sentence-transformers
einops